bcrypt==4.0.1
cffi==1.15.1
click==8.0.4
cryptography==38.0.1
Flask==2.0.3
Flask-MySQLdb==1.0.1
importlib-metadata==4.8.3
itsdangerous==2.0.1
Jinja2==3.0.3
MarkupSafe==2.0.1
mysql==0.0.3
mysqlclient==2.1.1
pyasn1==0.4.8
pycparser==2.21
pycryptodome==3.15.0
pytz==2022.6
rsa==4.9
Werkzeug==2.0.3
zipp==3.6.0
