* {
  font-family: "Inter", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0;
  padding: 0;
  background-image: url("./pozadie.jpeg");
  width: 100%;
  color: white;
}

.center {
  display: flex;
  flex-direction: column;
  width: 90%;
  background-color: rgb(60, 60, 60);
  opacity: 0.9;
  border-radius: 0 0 2rem 2rem;
  box-shadow: 0 2px 32px rgba(0, 0, 0, 0.8);
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 60vh;
}

.title {
  margin-top: 2rem;
  text-align: center;
  font-weight: bold;
  padding-bottom: 2rem;
}

#output {
  width: 80%;
}

header {
  margin-top: 2%;
  width: 90%;
  position: relative;
  text-align: center;
  background-color: rgb(60, 60, 60);
  padding: 2% 0;
  border-radius: 2rem 2rem 0 0;
}

nav a,
nav p {
  text-decoration: none;
  display: inline-block;
  color: black;
  margin: 0;
}

nav p {
  color: white;
  font-size: 30px;
}

nav ul {
  list-style: none;
  margin: 0;
}

nav li {
  display: inline-block;
  font-size: 25px;
  border-radius: 1rem;
  opacity: 0.7;
  margin: 0 10px;
  padding: 0.5% 1%;
  background-color: #a3a39a;
}

nav li:hover {
  background-color: #eeeeee;
  box-shadow: 0 2px 8px rgba(255, 255, 255, 0.2);
  transition: 0.3s;
}

li.selected {
  background-color: #eeeeee;
  opacity: 1;
}

a.link {
  color: white;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

form {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

div.row {
  display: flex;
  justify-content: space-between;
  align-content: stretch;
  align-items: center;
  gap: 5px;
}

div.profile {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  align-content: center;
  margin: 20px;
}

div.photo {
  background-color: white;
  width: 100px;
  height: 200px;
}

div.centered {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 20px;
}

table {
  margin: 10px;
  padding: 10px;
  width: 90%;
  border-collapse: collapse;
  border: 2px black solid;
}

table th {
  border: 2px black solid;
  padding: 3px;
  background: gold;
  color: black;
}

table td {
  border: 1px black solid;
  padding: 3px;
  background-color: rgb(101, 100, 100);
  text-align: center;
}
