* {
  font-family: "Inter", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  background-image: url("./pozadie.jpeg");
  width: 100%;
  color: white;
}

.center {
  width: 50%;
  background-color: rgb(60, 60, 60);
  opacity: 0.9;
  box-shadow: 0 2px 32px rgba(0, 0, 0, 0.8);
}

section {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  height: 50vh;
}

.title {
  margin-top: 2rem;
  text-align: center;
  font-weight: bold;
  padding-bottom: 2rem;
}

#output {
  width: 80%;
}
