<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>UPB</title>
  <link rel="stylesheet" href="../static/style.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap" rel="stylesheet" />
</head>

<body>
  <div class="center">
    <section>
        {% for mesg in get_flashed_messages() %}
            <p>{{mesg}}</p>
        {% endfor %}
      <form method=post enctype=multipart/form-data>
        
        <div class="row">
          <label for="firstName">Krstné meno</label>
          <input type="text" id="firstName" maxlength="20" name="firstName" required>
        </div>
        <div class="row">
          <label for="lastName">Priezvisko</label>
          <input type="text" id="lastName" maxlength="20" name="lastName" required>
        </div>
        <div class="row">
          <label for="userName">Prihlasovacie meno</label>
          <input type="text" id="userName" maxlength="20" name="userName" required>
        </div>
        <div class="row">
          <label for="email">Email</label>
          <input type="email" id="email" name="email" required>
        </div>

        <div class="row">
          <label for="password">Heslo</label>
          <input type="password" id="password" maxlength="30" name="password" required>
        </div>
        <div class="row">
          <label for="passwordAgain">Znova heslo</label>
          <input type="password" id="passwordAgain" maxlength="30" name="passwordAgain" required>
        </div>

        <div class="row">
            <label for="file_own_public_key">Nahrať verejný kľúč</label>
            <input type=file name="file_own_public_key" id="file_own_public_key" >
        </div>

        <div class="row"></div> <div class="row"></div>

        <input type=submit value=Registruj name=register>
      </form>
      <a class="link" href="login">Prihlásenie</a>
    </section>
    
  </div>
</body>

</html>