<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>UPB</title>
  <link rel="stylesheet" href="../static/style.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap" rel="stylesheet" />
</head>

<body>
  <header>
        <nav>
            <ul>
                <p>Prihlásený: {{ session['user'] }}</p>
                <li>
                    <a href="./decrypt" >Decrypt</a>
                </li>
                <li>
                    <a href="./encrypt" >Poslať súbor</a>
                </li>
                <li>
                    <a href="./profile" >Profil</a>
                </li>
                <li class="selected">
                    <a href="./users" >Používatelia</a>
                </li>
                <li>
                    <a href="./logout" >Odhlásiť</a>
                </li>
            </ul>
        </nav>
    </header>
  <div class="center">
    
      
      {% for mesg in get_flashed_messages() %}
        <script>alert('{{mesg}}')</script>
      {% endfor %}

      <div class="centered">
        <form method=post enctype=multipart/form-data>
          <div>
            <label for="comment">Priezvisko</label>
            <input type="text" id="lastName" maxlength="20" name="lastName">
          </div>
          <input type=submit value="Vyhladaj" name=searchUsers>
        </form>
      </div>

      <div class="centered">
          <table>
            <tr>
              <th>Meno</th>
              <th>Priezvisko</th>
              <th>Používateľské meno</th>
              <th>Počet zašifrovaných súborov</th>
              <th></th>
            </tr>

            {% for user in users %}
               <tr>
                <td>{{user[0]}}</td>
                <td>{{user[1]}}</td>
                <td>{{user[2]}}</td>
                <td>{{user[3]}}</td>
                <td><a href="./user/{{user[2]}}" class="link"  >Pozrieť profil</a></td>
              </tr>
            {% endfor %}
            
          </table>
        </div>
        
       

    
  </div>
</body>

</html>