<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Zadanie 2</title>
  <link rel="stylesheet" href="../static/style.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap" rel="stylesheet" />
</head>

<body>
  <header>
        <nav>
            <ul>
                <p>Logged in: {{ session['user'] }}</p>
                <li>
                    <a href="../decrypt" >Decrypt</a>
                </li>
                <li>
                    <a href="../encrypt" >Encrypt</a>
                </li>
                <li>
                    <a href="../profile" >Profil</a>
                </li>
                <li class="selected">
                    <a href="../users" >Používatelia</a>
                </li>
                <li>
                    <a href="../logout" >Logout</a>
                </li>
            </ul>
        </nav>
    </header>
  <div class="center">
    
      
      {% for mesg in get_flashed_messages() %}
        <script>alert('{{mesg}}')</script>
      {% endfor %}


        <div class="profile">
          <div class="photo">
          </div>
          <div>
              <h3>Meno: {{response[1]}}</h3>
              <h3>Priezvisko: {{response[2]}}</h3>
              <h3>UserName: {{response[6]}}</h3>
          </div>
          <div style="display: flex; flex-direction: column; gap: 5px;">
            <a href="../user/{{response[6]}}/pubkey" class="link"  >Stiahnuť verejný kľúč</a>
          </div>
        </div>

        <div class="centered">
          <table>
            <tr>
              <th>Meno súboru</th>
              <th>Download</th>
            </tr>

            {% for file in files %}
               <tr>
                <td>{{file}}</td>
                <td><a href="../download/{{response[6]}}/{{file}}" class="link"  >DOWNLOAD</a></td>
              </tr>
            {% endfor %}
            
          </table>
        </div>
       

    
  </div>
</body>

</html>